<button
  class="flex items-center btn mt-4 md:mt-8 py-2 md:py-3 px-6 md:px-8 text-3xl md:text-4xl font-bold bg-[rgb(0,146,69)] text-white rounded-lg"
  ><p class="-mt-1">Buy now</p>
  <svg
    class="ml-2"
    xmlns="http://www.w3.org/2000/svg"
    width="48"
    height="48"
    viewBox="0 0 24 24"
    ><path
      fill="currentColor"
      d="M16.15 13H5q-.425 0-.712-.288T4 12q0-.425.288-.712T5 11h11.15L13.3 8.15q-.3-.3-.288-.7t.288-.7q.3-.3.713-.312t.712.287L19.3 11.3q.15.15.213.325t.062.375q0 .2-.062.375t-.213.325l-4.575 4.575q-.3.3-.712.288t-.713-.313q-.275-.3-.288-.7t.288-.7z"
    ></path></svg
  >
</button>
