<div class="w-[296px] py-10 px-8 rounded-2xl text-center bg-slate-100">
  <div
    class="w-[120px] h-[120px] rounded-full overflow-hidden mx-auto bg-slate-500"
  >
  </div>
  <h4 class="font-bold text-xl mt-8">Sandra Macias</h4>
  <p class="mt-4">Rancho Bombs is easy and delicious</p>
</div>
