<li>
  <a
    class="block w-full text-sm font-bold uppercase text-slate-800 my-5 md:my-0 md:text-secondary-color px-4 py-2 rounded-md md:w-auto md:text-md md:border-b-2 md:border-transparent md:mx-4 md:px-0 md:pb-2 bg-slate-100 text-secondary-color md:border-secondary-color md:bg-transparent md:rounded-none"
    href="#cover"
  >
    Inicio</a
  >
</li>
