---
const { HREF } = Astro.props;
---

<li>
  <a
    class="text-xl block w-full text-slate-800 hover:text-green-700 transition-colors duration-500 my-5 md:my-0 px-4 py-2 rounded-md md:w-auto md:text-md md:border-b-2 md:border-transparent md:mx-4 md:px-0 md:pb-2 text-secondary-color md:border-secondary-color md:bg-transparent md:rounded-none"
    href={HREF}
  >
    <slot /></a
  >
</li>
