---
import Container from "../layouts/container.astro";
---

<div class="">
  <Container extra_classes="py-36">
    <h2 class="text-4xl md:text-6xl font-bold">About Us</h2>
    <div class="lg:w-6/12 text-lg">
      <p class="mt-4">
        ¡Hola, Amigos! We're <b>Jessica</b> and <b>Sara</b>, the dynamic duo
        behind <strong>Rancho Bomb</strong>. Jessica drives the vision, while
        Sara, the authentic Mexican food sorceress, is the mastermind behind the
        magic!
      </p>
      <p class="mt-4">
        Now, let's dive into <b>our story</b>. Jessica discovered <b
          >Birria Bombs</b
        >, but alas, they were often sold out or available on inconvenient days.
        Fueled by determination and inspiration, she sought the guidance of her
        culinary maestra, Sara, to create her own Birria Bomb. This
        collaboration resulted in <b
          >a burst of flavors and a touch of nostalgia</b
        >. What began as a delightful kitchen experiment swiftly transformed
        into a tasty sensation cherished by our closest friends and family, who
        can't get enough.
      </p>
      <p class="mt-4">
        <strong
          >At Rancho Bomb, it's not limited to just Birria Bombs anymore</strong
        >. We're committed to ongoing kitchen experiments, so brace yourself for
        new and exciting creations that will make your taste buds dance! Because
        at Rancho Bomb, <strong>every bite is a burst of happiness</strong>, and
        each flavor is a journey to the heart of Mexico.
      </p>
      <p class="mt-4"><strong>¡Buen provecho!</strong> 🌟</p>
    </div>
  </Container>
</div>
