---
import Container from "../layouts/container.astro";
import img from "../../img/illustration_founder.svg?raw";
---

<div class="">
  <Container
    extra_classes="w-full py-36 xl:py-36 flex flex-col xl:flex-row xl:items-center xl:justify-between text-[#202020]"
  >
    <!-- close div img -->
    <div class="xl:w-6/12">
      <h2 class="text-5xl md:text-6xl font-bold text-center xl:text-left">
        About Us
      </h2>
      <div class="w-full pt-8 sm:px-36 xl:hidden">
        <Fragment set:html={img} />
      </div>
      <div class="text-lg xl:mt-12">
        <p class="mt-4">
          <b class="font-bold text-[22px]">¡Hola, Amigos!</b> We're <b
            class="font-semibold">Jessica</b
          > and <b class="font-semibold">Sara</b>, the dynamic duo behind <b
            class="font-semibold">Rancho Bombs</b
          >. Jessica drives the vision, while Sara, the authentic Mexican food
          sorceress, is the mastermind behind the magic!
        </p>
        <p class="mt-4">
          Now, let's dive into <b class="font-semibold">our story</b>. Jessica
          discovered <b class="font-semibold">Birria Bombs</b>, but alas, they
          were often sold out or available on inconvenient days. Fueled by
          determination and inspiration, she sought the guidance of her culinary
          maestra, Sara, to create her own Birria Bomb. This collaboration
          resulted in a burst of flavors and a touch of nostalgia . What began
          as a delightful kitchen experiment swiftly transformed into a tasty
          sensation cherished by our closest friends and family, who can't get
          enough.
        </p>
        <p class="mt-4">
          At Rancho Bomb, it's not limited to just Birria Bombs anymore. We're
          committed to ongoing kitchen experiments, so brace yourself for new
          and exciting creations that will make your taste buds dance! Because
          at Rancho Bomb, <b class="font-semibold"
            >every bite is a burst of happiness</b
          >, and each flavor is a journey to the heart of Mexico.
        </p>
        <p class="mt-4"><b class="font-semibold">¡Buen provecho!</b> 🌟</p>
      </div>
    </div>

    <!-- div img -->
    <div class="hidden xl:block xl:w-6/12 2xl:w-5/12">
      <Fragment set:html={img} />
    </div>
  </Container>
</div>
