---
import Container from "../layouts/container.astro";
---

<div class="">
  <Container
    extra_classes="w-full pb-36 xl:py-36 flex flex-col xl:flex-row xl:flex-row-reverse xl:items-center xl:justify-between"
  >
    <!-- div img -->
    <div class="w-full py-20 xl:py-0 xl:w-6/12 2xl:w-5/12 sm:px-36 xl:px-0">
      <svg
        class=""
        width="100%"
        height="auto"
        viewBox="0 0 505 421"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <g clip-path="url(#clip0_1_3736)">
          <circle cx="169.5" cy="32" r="22" fill="#009245"></circle>
          <circle cx="48.5" cy="407" r="14" fill="#DF2536"></circle>
          <circle cx="369.5" cy="329" r="14" fill="#FFD444"></circle>
          <path
            d="M505 101.25C505 157.168 459.668 202.5 403.749 202.5C347.831 202.5 302.5 157.168 302.5 101.25C302.5 45.3307 347.831 -0.000976562 403.749 -0.000976562C459.668 -0.000976562 505 45.3307 505 101.25Z"
            fill="#F2EFDD"></path>
          <path
            d="M388.643 118.899C390.831 119.731 392.977 120.148 395.097 120.148C398.954 120.148 402.723 118.767 406.495 115.991L405.869 115.14C400.334 119.211 394.821 120.116 389.018 117.91L388.643 118.899Z"
            fill="#202020"></path>
          <path
            d="M408.493 80.402C413.214 79.6671 416.327 82.0855 416.357 82.1098L417.35 80.8726C417.203 80.7552 413.687 77.9857 408.251 78.8349C402.897 79.6628 398.119 84.396 397.919 84.5969L399.041 85.7178C399.086 85.6723 403.659 81.1496 408.493 80.402Z"
            fill="#202020"></path>
          <path
            d="M412.967 84.821L411.949 84.5376L411.276 86.9528C410.98 86.8746 410.686 86.8079 410.395 86.753L410.979 84.6571L409.961 84.3716L409.338 86.607C407.977 86.4865 406.676 86.625 405.446 87.0469C401.541 88.3825 399.786 91.9482 399.714 92.0994L400.666 92.5573C400.678 92.5351 401.428 91.0124 403.003 89.6641C403.33 91.0028 404.528 91.9461 405.891 91.9461C406.041 91.9461 406.195 91.9355 406.349 91.9112C407.974 91.6584 409.093 90.1304 408.842 88.503C408.794 88.1953 408.69 87.8982 408.546 87.618C410.188 87.638 411.948 88.1097 413.806 89.037L414.279 88.0917C413.604 87.7544 412.941 87.4858 412.287 87.2595L412.967 84.821Z"
            fill="#202020"></path>
          <path
            d="M389.901 107.034C390.874 107.768 392.127 108.16 393.414 108.16C393.837 108.16 394.263 108.118 394.683 108.032L394.47 106.996C393.057 107.287 391.592 106.984 390.539 106.189C389.439 105.36 388.818 103.947 388.993 102.675C389.098 101.902 389.46 101.181 389.843 100.417C389.98 100.144 390.117 99.8709 390.243 99.5949L390.4 99.2512C391.733 96.3337 393.245 93.026 391.951 90.0049L390.98 90.4226C392.088 93.0123 390.68 96.0926 389.439 98.8124L389.28 99.1571C389.161 99.4204 389.03 99.6816 388.899 99.9428C388.494 100.751 388.074 101.586 387.945 102.53C387.717 104.197 388.484 105.964 389.901 107.034Z"
            fill="#202020"></path>
          <path
            d="M407.517 104.355C406.695 104.307 405.99 104.933 405.94 105.754C405.892 106.576 406.518 107.281 407.339 107.331C408.161 107.379 408.866 106.753 408.916 105.932C408.965 105.11 408.339 104.404 407.517 104.355Z"
            fill="#202020"></path>
          <path
            d="M378.494 88.4998C377.229 88.1953 375.92 88.1805 374.577 88.4279L373.747 86.2612L372.759 86.6387L373.538 88.6722C373.254 88.7536 372.967 88.8488 372.68 88.9535L371.783 86.6123L370.796 86.9898L371.701 89.3543C371.071 89.6408 370.437 89.9697 369.796 90.3694L370.356 91.2672C372.12 90.1685 373.827 89.534 375.461 89.3596C375.343 89.6514 375.267 89.9581 375.249 90.27C375.202 91.0663 375.467 91.8329 375.996 92.4293C376.524 93.0247 377.254 93.3789 378.05 93.4265C378.113 93.4307 378.173 93.4318 378.234 93.4318C378.964 93.4318 379.661 93.1695 380.211 92.681C380.743 92.2094 381.068 91.5738 381.169 90.8781C382.859 92.073 383.755 93.5174 383.768 93.5386L384.673 92.9919C384.587 92.8481 382.506 89.4632 378.494 88.4998Z"
            fill="#202020"></path>
          <path
            d="M448.893 142.564C438.977 141.556 432.057 138.607 428.324 133.798C425.343 129.954 424.306 124.777 425.233 118.413C426.204 117.209 427.023 116.003 427.589 114.824C428.991 111.906 429.454 104.956 429.581 99.065C438.032 90.3559 441.032 78.155 437.666 68.4815L437.803 68.6264C442.91 63.7537 439.553 47.9332 437.236 41.4648C434.892 34.9182 426.916 26.3983 420.825 23.9345C415.122 21.6282 408.477 21.0032 401.071 22.0755C399.903 22.2447 398.828 22.3694 397.82 22.4847C393.616 22.969 390.297 23.3518 386.144 26.4744C381.004 30.3426 376.985 33.8068 376.031 39.7253C374.464 40.6886 373.003 41.7831 371.662 43.0224C362.773 51.2388 362.051 62.5746 361.993 64.073C358.058 73.9887 361.581 78.983 364.987 83.8134C365.381 84.3728 365.777 84.9375 366.165 85.5117L366.781 95.5839C366.931 98.0202 367.317 100.444 367.932 102.789C369.537 108.908 372.593 119.772 375.032 123.788C376.474 126.16 379.961 129.334 383.173 131.443C382.047 145.063 374.831 146.923 368.624 146.994C367.41 147.008 366.284 147.555 365.534 148.497C364.801 149.42 364.524 150.608 364.776 151.761C368.346 168.108 388.007 175.082 406.414 175.082C408.015 175.082 409.607 175.029 411.178 174.925C430.65 173.636 450.953 164.427 452.42 146.759C452.594 144.661 451.012 142.78 448.893 142.564ZM387.098 27.7434C390.906 24.8788 393.883 24.5351 398.002 24.0603C399.024 23.9429 400.114 23.8171 401.298 23.6458C408.422 22.6137 414.792 23.2059 420.23 25.4054C425.983 27.7317 433.522 35.7969 435.743 41.9999C438.041 48.4196 440.758 62.4245 437.117 67.0222C436.553 65.7004 435.872 64.4283 435.049 63.2355C433.257 60.6353 432.145 57.7135 431.835 54.7876C431.116 48.003 426.01 36.3869 399.88 34.8262C391.164 34.3059 383.796 35.6108 377.861 38.6943C379.063 34.1103 382.504 31.1981 387.098 27.7434ZM363.518 64.533L363.575 64.2528C363.577 64.1344 363.917 52.3301 372.754 44.174C379.087 38.3284 388.181 35.7123 399.785 36.4102C424.748 37.9012 429.593 48.6692 430.258 54.9547C430.595 58.1439 431.8 61.3184 433.743 64.1365C440.008 73.2199 438.167 86.8885 429.617 96.6762C429.647 92.7975 429.552 89.7975 429.542 89.474L428.869 80.6252L428.62 80.4116C428.557 80.3588 422.433 75.0007 421.919 65.8168L421.907 65.6232L421.808 65.4562C421.715 65.2997 412.281 50.0132 388.073 54.98C363.702 59.9775 365.868 80.824 365.889 80.9901L365.979 82.4652C362.647 77.7268 359.93 73.4621 363.518 64.533ZM376.387 122.963C373.966 118.978 370.74 107.245 369.466 102.386C368.878 100.141 368.508 97.8204 368.365 95.4866L367.674 84.2005C368.696 83.4507 371.224 81.9492 374.835 82.1691C379.72 82.461 384.696 86.5332 384.746 86.5744L385.758 85.3531C385.539 85.1712 380.338 80.9086 374.93 80.5851C371.557 80.3852 369.038 81.4691 367.562 82.3647L367.469 80.8494C367.377 80.051 365.474 61.2327 388.391 56.5334C391.74 55.8471 394.785 55.5521 397.543 55.5521C412.931 55.5521 419.444 64.7138 420.347 66.1118C420.913 74.8664 426.108 80.235 427.336 81.3887L427.958 89.5607C427.965 89.7552 428.578 109.1 426.16 114.139C422.97 120.782 411.082 128.93 404.623 131.182C400.513 132.616 391.46 133.231 387.483 131.922C384.245 130.853 378.23 125.999 376.387 122.963ZM411.073 173.342C392.102 174.594 370.006 168.274 366.325 151.422C366.176 150.738 366.339 150.032 366.775 149.485C367.226 148.918 367.907 148.588 368.643 148.58C378.445 148.468 383.562 143.293 384.674 132.363C385.509 132.831 386.295 133.199 386.987 133.428C388.67 133.983 391.111 134.225 393.726 134.225C397.877 134.225 402.462 133.615 405.146 132.679C410.075 130.961 418.15 125.933 423.401 120.491C422.96 126.261 424.19 131.057 427.072 134.77C431.08 139.936 438.368 143.09 448.731 144.142C449.997 144.271 450.942 145.386 450.839 146.627C449.45 163.356 429.865 172.099 411.073 173.342Z"
            fill="#202020"></path>
          <path
            d="M203 227.25C203 283.168 157.668 328.5 101.749 328.5C45.8306 328.5 0.5 283.168 0.5 227.25C0.5 171.331 45.8306 125.999 101.749 125.999C157.668 125.999 203 171.331 203 227.25Z"
            fill="#F2EFDD"></path>
          <path
            d="M169.015 257.148C171.228 249.987 169.411 244.882 163.298 241.11C162.748 238.848 161.639 237.497 159.998 237.094C158.674 236.77 157.56 235.639 157.019 234.069C156.634 232.953 156.057 232.024 155.303 231.304C153.252 229.352 152.287 226.607 152.717 223.96C153.729 217.747 152.484 211.687 148.908 205.435C147.545 203.052 147 200.338 147.332 197.588C148.398 188.73 145.76 181.628 139.492 176.48C137.436 174.793 135.975 172.327 135.377 169.538C134.162 163.872 130.285 154.143 117.974 152.641C115.906 152.388 113.904 151.901 112.021 151.194C105.704 148.821 91.7999 146.469 79.7503 152.718C70.9302 157.293 64.9133 165.547 61.8689 177.254C61.1065 180.185 59.6959 183.132 57.6761 186.012C56.2539 188.04 55.3159 190.256 54.8887 192.596C54.2849 195.908 52.7971 198.777 50.5891 200.896C46.9282 204.409 45.4711 209.57 46.2578 216.238L46.2927 216.392C46.3075 216.44 47.8725 221.316 47.8725 227.935C47.8725 232.958 44.6854 236.707 42.1253 239.719C41.3703 240.606 40.6597 241.445 40.0993 242.235C36.7842 246.908 36.8867 252.374 40.4366 259.959C43.8574 267.267 45.9871 274.952 46.7665 282.797C47.0054 285.214 47.5754 287.678 48.4594 290.12C49.8542 293.971 52.9599 297.726 56.2454 301.7C62.0138 308.675 68.5509 316.58 67.3179 327.016L67.1561 328.385L68.4198 327.837C69.1389 327.526 84.5522 320.443 81.7225 290.847C90.5585 294.655 99.9243 296.528 109.241 296.528C127.467 296.528 145.48 289.451 158.825 276.103L165.355 269.576C166.868 268.062 167.3 265.892 166.481 263.914C166.238 263.33 165.897 262.819 165.496 262.378C167.294 261.427 168.345 259.07 169.015 257.148ZM69.0247 325.657C69.5735 315.325 63.159 307.57 57.4668 300.689C54.2722 296.823 51.2511 293.173 49.9515 289.581C49.1119 287.262 48.5715 284.927 48.3431 282.641C47.5469 274.615 45.3706 266.758 41.8736 259.287C38.5945 252.28 38.4465 247.305 41.3925 243.151C41.9117 242.419 42.6033 241.606 43.334 240.747C46.0633 237.536 49.4587 233.54 49.4587 227.935C49.4587 221.432 48.0407 216.663 47.825 215.977C47.108 209.781 48.3717 205.222 51.6878 202.04C54.139 199.69 55.7844 196.522 56.4495 192.88C56.8344 190.766 57.6835 188.763 58.9757 186.923C61.1044 183.887 62.5943 180.768 63.4043 177.653C66.3313 166.4 72.0764 158.485 80.48 154.126C92.059 148.122 105.809 150.554 111.464 152.679C113.463 153.431 115.589 153.947 117.781 154.215C129.118 155.598 132.701 164.618 133.826 169.87C134.499 173.008 136.152 175.791 138.485 177.707C144.389 182.555 146.768 188.996 145.758 197.399C145.385 200.491 145.998 203.541 147.531 206.222C150.919 212.147 152.103 217.866 151.152 223.706C150.637 226.869 151.782 230.139 154.208 232.452C154.785 233.003 155.214 233.701 155.52 234.587C156.238 236.668 157.773 238.181 159.62 238.635C160.715 238.904 161.435 239.93 161.823 241.777L161.895 242.117L162.192 242.295C167.886 245.693 169.523 250.129 167.509 256.653C166.454 259.687 165.314 261.135 163.94 261.208C163.256 260.884 162.49 260.707 161.681 260.707H141.832C134.584 260.707 128.252 254.575 127.664 247.019C132.002 241.231 134.553 233.45 135.032 224.065L135.081 223.131C135.366 217.617 135.662 211.916 134.673 205.578L134.617 205.219L134.307 205.027C130.487 202.651 129.086 199.773 130.021 196.224L130.179 195.63L129.641 195.329C121.974 191.053 118.288 184.891 118.369 176.491L118.376 175.826L117.722 175.704C102.01 172.777 90.9159 175.511 83.7982 184.064L83.5825 184.322L83.6195 184.658C84.8049 195.591 82.0461 205.104 75.6443 212.169L75.252 212.602L75.5459 213.103C78.9202 218.859 79.1941 223.803 76.3792 228.225L75.916 228.954L76.6816 229.353C80.8501 231.538 82.5854 235.967 81.9847 242.895L81.9414 243.391L82.3696 243.645C87.0404 246.423 89.4376 248.945 89.574 255.021C89.6544 261.601 84.8303 267.319 84.7806 267.375L84.5131 267.689L84.6156 268.088C86.7771 276.569 79.5251 281.065 79.2153 281.252L78.7405 281.539L78.8462 282.082C84.7225 312.351 72.9795 323.003 69.0247 325.657ZM91.1475 254.57C90.899 248.271 88.2903 245.394 83.6037 242.537C84.0975 235.673 82.2628 230.911 78.1451 228.364C80.7729 223.714 80.4631 218.611 77.2019 212.804C78.6802 211.116 79.9544 209.296 81.0394 207.366C81.7531 207.18 82.5061 207.054 83.3012 207.015C88.1496 206.784 93.5765 210.294 93.6304 210.329L94.5049 209.005C94.268 208.85 88.6488 205.162 83.2251 205.431C82.8021 205.452 82.394 205.503 81.9879 205.561C84.8948 199.542 86.0125 192.522 85.2321 184.825C91.8613 177.068 102.194 174.554 116.784 177.146C116.901 185.535 120.79 192.014 128.346 196.417C127.551 200.305 129.167 203.583 133.159 206.176C134.059 212.213 133.773 217.719 133.496 223.048L133.447 223.985C132.992 232.896 130.018 248.736 115.225 254.699C106.439 258.239 96.8376 258.174 91.1475 254.57ZM164.234 268.454L157.703 274.983C137.784 294.902 107.233 300.524 81.5417 289.054C81.2889 286.914 80.9495 284.665 80.5011 282.294C82.2353 281.046 88.0788 276.157 86.2473 268.088C87.2413 266.834 90.6695 262.112 91.1094 256.384C94.1358 258.048 98.0103 258.887 102.218 258.887C106.587 258.887 111.314 257.985 115.817 256.17C119.928 254.511 123.428 251.988 126.284 248.723C127.639 256.345 134.289 262.293 141.832 262.293H161.681C163.459 262.293 164.568 263.444 165.014 264.52C165.461 265.598 165.489 267.198 164.234 268.454Z"
            fill="#202020"></path>
          <path
            d="M114.081 213.637C114.18 215.327 115.573 216.676 117.287 216.676C119.066 216.676 120.513 215.228 120.513 213.451C120.513 213.083 120.449 212.723 120.327 212.382C122.137 212.669 123.997 213.48 125.891 214.822L126.502 213.958C125.814 213.471 125.127 213.061 124.444 212.702L125.612 210.127L124.649 209.692L123.492 212.246C123.15 212.096 122.811 211.963 122.471 211.846L123.482 209.613L122.52 209.178L121.451 211.539C119.987 211.173 118.545 211.101 117.132 211.35C112.694 212.14 110.206 215.695 110.101 215.845L110.972 216.445C110.988 216.421 112.09 214.849 114.081 213.637Z"
            fill="#202020"></path>
          <path
            d="M121.266 205.329C126.046 205.329 128.75 208.193 128.776 208.22L129.946 207.151C129.819 207.011 126.772 203.743 121.266 203.743C115.848 203.743 110.403 207.688 110.173 207.857L111.11 209.137C111.162 209.098 116.373 205.329 121.266 205.329Z"
            fill="#202020"></path>
          <path
            d="M88.8232 212.776C87.4041 212.597 85.966 212.737 84.5226 213.173L83.3393 210.863L82.3982 211.344L83.5159 213.527C83.1828 213.66 82.8497 213.81 82.5166 213.975L81.2371 211.478L80.296 211.96L81.585 214.477C80.9188 214.867 80.2537 215.309 79.5896 215.829L80.2421 216.661C82.0693 215.231 83.8913 214.332 85.6858 213.957C85.5779 214.308 85.5303 214.673 85.5483 215.035C85.5885 215.897 85.9628 216.69 86.5994 217.269C87.1979 217.813 87.9614 218.107 88.764 218.107C88.8169 218.107 88.8698 218.106 88.9226 218.103C89.7844 218.062 90.5775 217.689 91.157 217.053C91.6931 216.462 91.9734 215.71 91.9808 214.92C94.0227 216.034 95.2028 217.55 95.2197 217.572L96.0614 216.932C95.9494 216.786 93.2952 213.354 88.8232 212.776Z"
            fill="#202020"></path>
          <path
            d="M115.05 240.845L114.476 239.957C108.705 243.682 103.147 244.251 97.489 241.694L97.0522 242.659C99.5161 243.771 101.957 244.329 104.402 244.329C107.924 244.329 111.45 243.17 115.05 240.845Z"
            fill="#202020"></path>
          <path
            d="M108.115 236.501C109.801 236.088 111.134 234.884 111.515 233.434C112.024 231.492 110.888 229.687 109.886 228.093L109.582 227.606C108.12 225.24 107.142 222.521 106.752 219.744L105.705 219.891C106.116 222.812 107.144 225.672 108.681 228.161L108.991 228.656C109.922 230.136 110.885 231.667 110.492 233.166C110.209 234.245 109.177 235.153 107.864 235.474C106.461 235.818 104.949 235.507 103.933 235.243L103.667 236.266C104.427 236.463 105.44 236.683 106.521 236.683C107.043 236.683 107.582 236.632 108.115 236.501Z"
            fill="#202020"></path>
        </g>
        <defs>
          <clipPath id="clip0_1_3736">
            <rect
              width="504.5"
              height="421"
              fill="white"
              transform="translate(0.5)"></rect>
          </clipPath>
        </defs>
      </svg>
    </div>
    <!-- close div img -->
    <div class="xl:w-6/12 text-slate-800">
      <h2 class="text-4xl md:text-6xl font-bold">About Us</h2>
      <div class="text-lg text-slate-700">
        <p class="mt-4">
          ¡Hola, Amigos! We're <b>Jessica</b> and <b>Sara</b>, the dynamic duo
          behind <strong>Rancho Bomb</strong>. Jessica drives the vision, while
          Sara, the authentic Mexican food sorceress, is the mastermind behind
          the magic!
        </p>
        <p class="mt-4">
          Now, let's dive into <b>our story</b>. Jessica discovered <b
            >Birria Bombs</b
          >, but alas, they were often sold out or available on inconvenient
          days. Fueled by determination and inspiration, she sought the guidance
          of her culinary maestra, Sara, to create her own Birria Bomb. This
          collaboration resulted in <b
            >a burst of flavors and a touch of nostalgia</b
          >. What began as a delightful kitchen experiment swiftly transformed
          into a tasty sensation cherished by our closest friends and family,
          who can't get enough.
        </p>
        <p class="mt-4">
          <strong
            >At Rancho Bomb, it's not limited to just Birria Bombs anymore</strong
          >. We're committed to ongoing kitchen experiments, so brace yourself
          for new and exciting creations that will make your taste buds dance!
          Because at Rancho Bomb, <strong
            >every bite is a burst of happiness</strong
          >, and each flavor is a journey to the heart of Mexico.
        </p>
        <p class="mt-4"><strong>¡Buen provecho!</strong> 🌟</p>
      </div>
    </div>
  </Container>
</div>
