---
import BtnBuy from "../components/BtnBuy.astro";
import Container from "../layouts/container.astro";
---

<section
  class="relative overflow-hidden bg-no-repeat bg-fixed bg-cover bg-[center_top_100px] md:bg-[center_top_-200px] lg:bg-[center_top_0px] text-center md:text-left"
>
  <!-- bg layer -->
  <div class="absolute w-full h-full bg-[#0A0A0A] opacity-80"></div>

  <Container
    extra_classes="mt-8 pt-36 md:py-36 md:mt-0 relative h-[750px] md:h-[500px] lg:h-[700px] flex justify-center flex-col md:flex-row md:justify-between"
  >
    <div class="self-center">
      <h1
        class="text-[42px] md:text-6xl lg:text-7xl xl:text-[88px] font-black text-[#FFD444]"
      >
        Rancho Bombs
      </h1>
      <h2
        class="text-2xl sm:text-[32px] sm:mt-2 lg:max-w-[600px] xl:max-w-full lg:text-4xl xl:text-5xl text-pink font-bold text-white"
      >
        An easy Way to make Birria
      </h2>
      <p
        class="text-lg lg:text-2xl max-w-[680px] sm:max-w-[460px] lg:max-w-[520px] xl:max-w-[680px] mt-2 md:mt-2 text-white"
      >
        Our Birria bombs contains all the amazing flavor you are wishing for.
      </p>
      <BtnBuy />
    </div>
    <div
      class="md:absolute md:w-[480px] lg:w-[640px] xl:w-[740px] md:bottom-0 right-0 z-[20]"
    >
      <img
        class="mt-8"
        src="../../public/img_pack_and_tacos.png"
        alt="Rancho Bombs pack"
      />
    </div>
  </Container>

  <div class="absolute bottom-0 h-24 sm:h-20 lg:h-24 w-full bg-green-700 z-10">
  </div>
</section>

<style>
  section {
    background-image: url("https://the2spoons.com/wp-content/uploads/2020/07/C6AE872A-AC9E-4C26-B368-BCCF3F4F3D37-1536x1023.jpeg");
  }
</style>
