---
import Container from "../layouts/container.astro";

const IMG_RANCHO =
  "https://cdn.shopify.com/s/files/1/0641/1445/8815/t/2/assets/rancho-birriabombs.svg";
---

<footer>
  <div class="lg:container lg:px-0 lg:w-full xl:w-[1245px] 2xl:w-[1328px]">
    <div class="overflow-hidden">
      <div
        id="splide3"
        class="w-[200%] lg:w-full mb-24 overflow-hidden imgs-footer whitespace-nowrap"
      >
        <img
          class="img-footer inline -ml-2"
          src={IMG_RANCHO}
          alt="Rancho Bombs illustration"
        />
        <img
          class="img-footer inline -ml-2"
          src={IMG_RANCHO}
          alt="Rancho Bombs illustration"
        />
      </div>
    </div>
  </div>

  <style>
    /* .imgs-footer {
      mask: linear-gradient(
        90deg,
        transparent,
        white 20%,
        white 80%,
        transparent
      );
    } */
    .splide__pagination__page.is-active {
      background: #0a0a0a !important;
    }
    .img-footer {
      animation: 25s slide infinite linear;
    }

    @keyframes slide {
      from {
        transform: translate(0);
      }
      to {
        transform: translate(-100%);
      }
    }
  </style>

  <script>
    // var imgFooterCopy = document.querySelector(".img-footer")?.cloneNode(true);
    // if (imgFooterCopy) {
    //   document.querySelector(".imgs-footer")?.appendChild(imgFooterCopy);
    // }
    // @ts-ignore
    var splide = new Splide("#splide", {
      type: "loop",

      classes: {
        arrow: "splide__arrow scale-150 bg-white opacity-100 shadow-md",
        pagination: "splide__pagination top-[750px]", // container
        active: "splide__pagination__page bg-black",
        page: "splide__pagination__page h-6 w-6 shadow-md mx-2 md:mx-4",
      },
    });
    splide.mount();

    // @ts-ignore
    var reviews = new Splide("#reviews", {
      type: "loop",
      drag: "free",
      perPage: 4,
      classes: {
        arrow: "splide__arrow scale-150 bg-white opacity-100 shadow-md",
        pagination: "splide__pagination top-[400px]", // container
        page: "splide__pagination__page h-6 w-6 border-2 border-slate-500 shadow-md mx-2 md:mx-4",
      },
      breakpoints: {
        640: {
          perPage: 1,
        },
        768: {
          perPage: 2,
        },
        1024: {
          perPage: 2,
        },
        1280: {
          perPage: 3,
        },
        1536: {
          perPage: 4,
        },
      },
    });
    reviews.mount();
  </script>
</footer>
