---
import Container from "../layouts/container.astro";
import { Image } from "astro:assets";
import imgFooter from "../../img/img-footer.jpg";
---

<footer class="">
  <Container>
    <div
      id="splide3"
      class="w-full h-96 mb-24 overflow-hidden imgs-footer whitespace-nowrap"
    >
      <Image
        class="img-footer h-full object-cover inline -ml-1"
        src={imgFooter}
        alt="Rancho Bombs pack"
      />
      <Image
        class="img-footer h-full object-cover inline -ml-1"
        src={imgFooter}
        alt="Rancho Bombs pack"
      />
    </div>
  </Container>

  <style>
    /* .imgs-footer {
      mask: linear-gradient(
        90deg,
        transparent,
        white 20%,
        white 80%,
        transparent
      );
    } */
    .img-footer {
      animation: 25s slide infinite linear;
    }

    @keyframes slide {
      from {
        transform: translate(0);
      }
      to {
        transform: translate(-100%);
      }
    }
  </style>

  <script>
    // var imgFooterCopy = document.querySelector('.img-footer')?.cloneNode(true);
    // if (imgFooterCopy) {
    //   document.querySelector('.imgs-footer')?.appendChild(imgFooterCopy);
    // }
    // @ts-ignore
    var splide = new Splide("#splide", {
      type: "loop",

      classes: {
        arrow: "splide__arrow scale-150",
        pagination: "splide__pagination top-[750px]", // container
        page: "splide__pagination__page h-8 w-8 border-2 border-slate-500 shadow-md mx-2 md:mx-4",
      },
    });
    splide.mount();

    // @ts-ignore
    var splide2 = new Splide("#splide2", {
      type: "loop",
      drag: "free",
      perPage: 4,
      classes: {
        arrow: "splide__arrow scale-150",
        pagination: "splide__pagination top-[400px]", // container
        page: "splide__pagination__page h-8 w-8 border-2 border-slate-500 shadow-md mx-2 md:mx-4",
      },
      breakpoints: {
        640: {
          perPage: 1,
        },
        768: {
          perPage: 2,
        },
        1024: {
          perPage: 2,
        },
        1280: {
          perPage: 3,
        },
        1536: {
          perPage: 4,
        },
      },
    });
    splide2.mount();
  </script>
</footer>
