---
import MenuItem from "../components/MenuItem.astro";
import Container from "../layouts/container.astro";
import logo from "../../img/nav_top_logo.svg?raw";
---

<style>
  /* btn */
  .menu-icon-container {
    position: relative;
    height: 30px;
    width: 30px;
  }
  .menu-icon-container span {
    position: relative;
    top: 12px;
  }
  .menu-icon-container span:before,
  .menu-icon-container span:after {
    position: absolute;
    content: "";
  }
  .menu-icon-container span,
  .menu-icon-container span:before,
  .menu-icon-container span:after {
    width: 30px;
    height: 5px;
    border-radius: 3px;
    background-color: #202020;
    display: block;
  }
  .menu-icon-container span:before {
    margin-top: -12px;
  }
  .menu-icon-container span:after {
    margin-top: 12px;
  }

  /* ICON */
  .menu-icon span {
    -webkit-transition-duration: 0s;
    transition-duration: 0s;
    -webkit-transition-delay: 0.2s;
    transition-delay: 0.2s;
  }
  .icon-animation span {
    background-color: rgba(0, 0, 0, 0);
    -webkit-transition-delay: 0.2s;
    transition-delay: 0.2s;
  }
  .menu-icon span:before {
    -webkit-transition-property:
      margin,
      -webkit-transform;
    transition-property: margin, transform;
    -webkit-transition-duration: 0.2s;
    transition-duration: 0.2s;
    -webkit-transition-delay: 0.2s, 0s;
    transition-delay: 0.2s, 0s;
  }
  .icon-animation span:before {
    margin-top: 0;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    -webkit-transition-delay: 0s, 0.2s;
    transition-delay: 0s, 0.2s;
  }
  .menu-icon span:after {
    -webkit-transition-property:
      margin,
      -webkit-transform;
    transition-property: margin, transform;
    -webkit-transition-duration: 0.2s;
    transition-duration: 0.2s;
    -webkit-transition-delay: 0.2s, 0s;
    transition-delay: 0.2s, 0s;
  }
  .icon-animation span:after {
    margin-top: 0;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    -webkit-transition-delay: 0s, 0.2s;
    transition-delay: 0s, 0.2s;
  }
</style>

<header class="relative">
  <nav class="px-4 md:p-0 fixed md:relative bg-white z-50 w-full shadow-lg">
    <Container extra_classes="flex justify-between items-center">
      <div class="w-16 lg:w-24 py-2">
        <a href="https://ranchobombs.com/" class="">
          <Fragment set:html={logo} />
        </a>
      </div>
      <a
        id="icon_menu"
        class="menu-icon-container menu-icon inline-block md:hidden !important"
        ><span></span></a
      >
      <ul
        id="menu"
        class="absolute md:relative -right-full top-16 md:top-0 h-[812px] md:h-auto w-full md:w-auto px-5 md:px-0 py-2 md:py-0 md:flex md:right-0 bg-white min-w-80 text-right rounded-bl-2xl z-10 shadow-lg md:shadow-none origin-top-right transition-all duration-300"
      >
        <MenuItem HREF="https://ranchobombs.com">Home</MenuItem>
        <MenuItem HREF="https://ranchobombs.com/products/rancho-bomb-birria"
          >Shop</MenuItem
        >
        <MenuItem HREF="#about">About Us</MenuItem>
        <MenuItem HREF="https://ranchobombs.com/pages/faq">FAQ</MenuItem>
        <MenuItem HREF=".footer">Contact</MenuItem>
      </ul>
    </Container>
  </nav>
</header>

<script>
  if (document) {
    const menu = document.getElementById("menu");
    const icon_menu = document.getElementById("icon_menu");

    if (menu && icon_menu) {
      icon_menu.addEventListener("click", () => {
        menu.classList.toggle("!right-0");
        icon_menu.classList.toggle("icon-animation");
      });

      document.addEventListener("click", (event: MouseEvent) => {
        const targetNode = event.target as Node;
        if (
          menu &&
          icon_menu &&
          !menu.contains(targetNode) &&
          !icon_menu.contains(targetNode)
        ) {
          menu.classList.remove("!right-0");
          icon_menu.classList.remove("icon-animation");
        }
      });

      // Cerrar menú al hacer clic en cualquier elemento de la lista del menú
      const menuItems = menu.querySelectorAll("li, a");
      menuItems.forEach((item) => {
        item.addEventListener("click", () => {
          menu.classList.remove("!right-0");
          icon_menu.classList.remove("icon-animation");
        });
      });
    }
  }
</script>
