---
import MenuItem from "../components/MenuItem.astro";
import Container from "../layouts/container.astro";
---

<header>
  <nav class="py-4">
    <Container extra_classes="relative flex justify-between items-center">
      <div class="border-2 border-slate-200">LOGO</div>

      <button id="icon_menu" class="md:hidden text-5xl" type="button">☰</button>
      <ul
        id="menu"
        class="absolute md:relative right-0 top-[48px] md:top-0 p-0 py-2 md:py-0 md:flex scale-0 md:scale-100 bg-white min-w-80 text-right rounded-bl-2xl z-10"
      >
        <MenuItem />
        <MenuItem />
        <MenuItem />
        <MenuItem />
      </ul>
    </Container>
  </nav>
</header>

<script>
  if (document) {
    const menu: HTMLElement | null = document.getElementById("menu");
    const icon_menu: HTMLElement | null = document.getElementById("icon_menu");

    icon_menu?.addEventListener("click", () => {
      if (menu) {
        menu.classList.toggle("!scale-100");
      }
    });

    document.addEventListener("click", (event) => {
      const targetNode = event.target as Node;
      if (
        menu &&
        icon_menu &&
        !menu.contains(targetNode) &&
        !icon_menu.contains(targetNode)
      ) {
        menu.classList.remove("!scale-100");
      }
    });
  }
</script>
