---
import MenuItem from "../components/MenuItem.astro";
import Container from "../layouts/container.astro";
import logo from "../../img/nav_top_logo.svg?raw";
---

<header class="relative">
  <nav class="py-2 fixed md:relative bg-white z-50 w-full shadow-lg">
    <Container extra_classes="flex justify-between items-center">
      <div class="w-16 lg:w-24">
        <Fragment set:html={logo} />
      </div>

      <button id="icon_menu" class="md:hidden text-5xl" type="button">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="40"
          height="48"
          viewBox="0 0 24 24"
          ><path
            fill="none"
            stroke="#202020"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M4 6h16M4 12h16M4 18h16"></path></svg
        >
      </button>
      <ul
        id="menu"
        class="absolute md:relative right-0 top-16 md:top-0 px-8 md:px-0 py-2 md:py-0 md:flex scale-0 md:scale-100 bg-white min-w-80 text-left rounded-bl-2xl z-10 shadow-lg md:shadow-none"
      >
        <MenuItem HREF="https://ranchobombs.com">Home</MenuItem>
        <MenuItem HREF="https://ranchobombs.com/products/rancho-bomb-birria"
          >Shop</MenuItem
        >
        <MenuItem HREF="#about">About Us</MenuItem>
        <MenuItem HREF="https://ranchobombs.com/pages/faq">FAQ</MenuItem>
        <MenuItem HREF=".footer">Contact</MenuItem>
      </ul>
    </Container>
  </nav>
</header>

<script>
  if (document) {
    const menu: HTMLElement | null = document.getElementById("menu");
    const icon_menu: HTMLElement | null = document.getElementById("icon_menu");

    icon_menu?.addEventListener("click", () => {
      if (menu) {
        menu.classList.toggle("!scale-100");
      }
    });

    document.addEventListener("click", (event) => {
      const targetNode = event.target as Node;
      if (
        menu &&
        icon_menu &&
        !menu.contains(targetNode) &&
        !icon_menu.contains(targetNode)
      ) {
        menu.classList.remove("!scale-100");
      }
    });
  }
</script>
