---
import CardReview from "../components/CardReview.astro";
import Container from "../layouts/container.astro";
---

<section class="bg-[#0A0A0A]">
  <Container extra_classes="py-36">
    <h2 class="text-5xl md:text-6xl text-white font-bold my-12">Reviews</h2>
    <div id="reviews" class="splide my-12 flex w-full">
      <div class="splide__track h-full">
        <ul class="splide__list">
          <!-- slide 1 -->
          <li class="splide__slide">
            <CardReview />
          </li>
          <li class="splide__slide">
            <CardReview />
          </li>
          <li class="splide__slide">
            <CardReview />
          </li>
          <li class="splide__slide">
            <CardReview />
          </li>
          <li class="splide__slide">
            <CardReview />
          </li>
        </ul>
      </div>
    </div>
  </Container>
</section>
