---
import CardReview from "../components/CardReview.astro";
import Container from "../layouts/container.astro";
---

<section class="bg-slate-800">
  <Container extra_classes="py-36">
    <h2 class="text-5xl md:text-6xl text-white font-bold my-12">Reviews</h2>
    <div class="my-12 flex gap-8 overflow-x-scroll w-full">
      <CardReview />
      <CardReview />
      <CardReview />
      <CardReview />
      <CardReview />
      <CardReview />
    </div>
  </Container>
</section>
